.main {
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.main div {

}
.scenarios div{
     float: left;
}
.h1 {
    color:lightcoral;
}

.navbar {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* font-size: 17px; */
  }

  /* Navbar links on mouse-over */
.navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Active/current link */
  .navbar a.active {
    background-color: #2196F3;
    color: white;
  }

  /* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    /* width: 100%; */
    border: 1px solid #ddd;
  }
  .table thead {
    /* background-color: #2196F3; */
    text-align: center;
    padding: 16px;
  }

  .checkmark {
    text-align: center;
  }
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .fa-check {
    color: green;
  }
  
  .fa-remove {
    color: red;
  }